img {
    width: 80%;
    height: 200px;
}
#main{
    display: grid;
    margin-left: 10px;
}
.division1{
    display: flex;
    margin-bottom: 10px;
}
.division2{
    display: flex;
    margin-bottom: 10px;
}
.division3{
    display: flex;
    margin-bottom: 10px;
}